@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  html {
    @apply antialiased;
  }

  body {
    @apply fixed w-full h-full overflow-hidden overscroll-none
           text-[--foreground] bg-[--background] font-sans;
  }
}
